* {
    font-family: Gilroy-Bold;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePage {
    width: 1920px;
    height: 550px;
}

.menuBar {
    width: 1170px;
    height: 40px;
    margin: 40px 375px;
    display: flex;
    justify-content: space-between;
}

.menuLink {
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    align-content: left;
}

.homeMeta {
    margin: 84px 162px 375px 375px;
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.title {
    margin: 0px 0px;
    font-size: 60px;
    /* font-style: bol; */
}

.subTitle {
    margin: 0px 0px;
    font-size: 20px;
    color: #888;
}

.buttonMeta {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 72px;
}

.buttonStart {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    border-color: #fff;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    background: rgb(242, 88, 34);
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0%;
}

.buttonWatch {
    width: 140px;
    height: 50px;
    /* text-shadow: 1px 1px 2px black; */
    background: rgb(255, 255, 255);
    color: #AAA;
    font-weight: 400;
}

.metaImg {
    width: 610px;
    height: 373px;
}

.brandLogo {
    margin: 97px 97px 345px 375px;
    width: 1200px;
    height: 50px;
    margin: 97px 97px;
    display: flex;
    justify-content: space-between;
    gap: 48px;
    /* top: 325px;
    bottom: -132px; */
}

.features {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-content: center;
}

.block__img {
    margin: 20px 0px 0px 20px;
    width: 70px;
    height: 70px;
}

.block__title {
    height: 30px;
    margin: 0px 20px;
    font-size: 24px;
    font-weight: bold;
}

.block__text {
    height: 42px;
    margin: 0px 20px;
    color: #666;
    font-size: 15px;
}

.block__link {
    margin: 0px 20px;
    color: #000;
    font-size: 11px;
    font-weight: bold;
}

.block1 {
    width: 310px;
    height: 225px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block2 {
    width: 370px;
    height: 290px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.services {
    margin: 92px 620px 0px 620px;
    background-color: #fafafa;
}

.secation_title {
    margin: 92px 0px 55px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.secation_title_title {
    height: 56px;
    margin: 0px 20px;
    font-size: 45px;
    font-weight: bold;
}

.secation_title_text {
    text-align: center;
    width: 682px;
    margin: 20px 0px 0px 0px;
    font-size: 16px;
    color: rgb(102, 102, 102)
}

.service__numbers {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.service1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: 550px;
}

.service2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: 550px;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.service__img {
    width: 370px;
    height: 270px;
}

.service__title {
    height: 30px;
    margin: 20px 20px;
    font-size: 24px;
    font-weight: bold;
}

.service__text {
    width: 310px;
    height: 63px;
    margin: 0px 20px;
    font-size: 15px;
    text-align: center;
    color: rgb(170, 170, 170);
}

.service__button {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border-color: #fff;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    background: rgb(242, 88, 34);
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0%;
}